* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    position: relative;
    background: black;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.c {
    background: #ec28e5;
    height: 25%;
    height: 12.5%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;

    animation: fall 2s linear infinite;
    animation-delay: calc(calc(var(--c) - 1) *.2s);
}

.el {
    width: 3.7%;
    height: 98%;
    background: rgb(0, 0, 0);
    background: #09000d;
    /* box-shadow: inset 1px 10px .2px cyan; */
    /* box-shadow: inset 1px 0px 5px cyan; */
    box-shadow: inset 0px 0px 7px rgba(236, 40, 229, 0.8);
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
    }

    100% {
        /* transform: translateY(400%); */
        transform: translateY(800%);
    }
}